@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
  display: block;
}

.container{
  max-width: 1080px;
  margin: 0 auto;
  
}

body{
  background-color: grey;
}